.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
    
}
.imgContainer { 
    /* max-width: 300px; */
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 231, 118);
}
img{ 
    width: 70%;
   
    background-color:black;
}

.infoContainer{
    color: white;
}