.cardContainer{
    background-color: transparent;
    box-shadow: 0px 0px 15px yellow;
    border: solid 2px grey;
    border-radius: 5%;
    font-family: 'Russo One', sans-serif;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
    
}
.imgContainer { 
    width: 20em;
    height: 20em;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
img{ 
    width: 70%;
    background-color:transparent;
    margin-top: 1.5em;
    
}

.infoContainer{
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infoContainer h3 {
    margin: 0%;
    padding: 0.5em;
}

/*Tablet version*/
@media (max-width: 920px) {
    /* CARDS */
    .mainContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    }

/*Mobile version*/
@media (max-width: 620px) {
    .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
}
}